body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width:100%;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.title {
    text-align: center;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    padding-top: 70px;
}

.term {
    text-align: center;
    width:45%;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.definition {
    text-align: center;
    width: 45%;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
    display: none;
}

h3, .h3 {
    font-size:50px;
    font-weight: bolder;
}
.dbbtn {
  text-align: center;
  
}

.btn6 {

    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
   }
   
   .btn6 .text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
   }
   
   .btn6:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
   }
   
   .btn6:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
   }
   
   .btn6:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
   }
   footer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
   }

   .check {
    position:absolute; left:100px; top:500px;
   }
   .next {
    position:absolute; right:100px; top:500px;

   }